LABELER_DID=did:plc:replace-with-your-labeler-did
LABELER_SIGNING_KEY=replace-with-your-private-signing-key
LABELER_DB_URL=libsql://replace-with-your-remote-db-url
LABELER_DB_TOKEN=replace-with-your-remote-db-auth-token
LABELER_PORT=14831
